@media (max-width: 710px) {
    .part1{
        flex-direction: column;
        text-align: center;
    }
    .part3{
        flex-direction: column;
    }
    .mainimage{
        width:100%;
        height: 100%;
    }
}